body {
  background: url('night_in_rome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
  padding: 0 ;
}

h2 {
  padding-left: 50px;
}
.splash-search {
  padding-left: 50px;
}

.splash-search input[type=text] {
  width: 400px;
}

.expense_search {
  margin-left:50px;
}