body {
  background: url('night_in_rome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 ;
  color: rgb(95, 82, 82);
  padding-right: 10px;
  font-size: 1.75em;
}

body a {
  color: rgb(95, 82, 82);
  text-decoration: none;
}

#splash-links{
  text-align: right;
}

body a:hover {
  color: white;
  text-decoration: none;
}

h2 {
  /*font-family: 'La Belle Aurore', cursive;*/
  font-family: 'Cousine';
  font-size: 100px;
  font-weight: 50px;
  text-align: center;
  color: rgb(95, 82, 82);
  padding-top: 25px;
}


#splash-search {
  width: 25%;
  font-size: 20px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2.5px solid rgb(95, 82, 82);;
  text-align: center;
}

::-webkit-input-placeholder {
   color: rgb(95, 82, 82);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgb(95, 82, 82);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(95, 82, 82);
}

:-ms-input-placeholder {
   color: rgb(95, 82, 82);
}

#search-btn {
  color: white;
  border-radius: 5px;
  border: none;
  background-color: rgb(95, 82, 82);
  width: 100px;
}

h3 {
font-family: 'Fira Mono';
padding-bottom: 30px;
}

#expense_search {
  text-align: center;
  padding-top: 30px;
}
