<%= render '/expenses/nav_bar' %>

<% if session[:user_id] && session[:toggle] %>
  <div id="wrapper" class="active">
<% elsif session[:user_id] && !session[:toggle] %>
  <div id="wrapper">
<% else %>
  <div id="wrapper" class="active">
<% end %>

  <div id="sidebar-wrapper">
    <%= render 'sidebar' %>
  </div>
  <div id="page-content-wrapper">
    <div class="page-content inset">
        <div id="expenses_grid" >
          <%= render partial: 'expense_grid', locals: { expenses: @your_expenses} %>
        </div>
      </div>
    </div>





