/*
 * Base structure
 */
  body {
    /*background: url('https://pbs.twimg.com/media/BiYeD_vCUAExSqo.jpg:large')*/
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 60px 0px;
  }

  .page-title h2 {
    color:black;
    font-weight: bold;
  }

  .page-header {
    color:black;
    font-weight: bold;
  }

  .cost-wrapper p{
    display: inline-block;
  }

  .page-title {
    padding-left: 3%;
  }

  #itinerary {
    text-align: center;
  }

  #balance-field {
    display: inline-block;
  }

  #charNum {
    padding-left: 28%;
  }

  .new_expense input{
    margin-bottom: 9px;
  }

  .new_expense select{
    width: 8%;
  }

  .new_expense .category-dropdown {
    width: 30%;
  }

  #expense_description {
    height: 80px;
  }

  .newexpense #charNum {
    padding-left: 100px;
  }


  .new_expense .currency{
    width: 15%;
  }

  .new_expense .large_input{
    width: 40%;
  }

  .new_expense #location-field{
    width: 40%;
  }

  #add-expense-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

  }

  #add-expense-form .category-dropdown{
    text-align: center;
  }

  #add-expense-form .location{
    width: 45%;
  }

   #add-expense-form .currency{
    display:inline-block;
    padding-right: 10px;
  }

  #add-expense-form .large_input{
    width:60%;
  }

  #add-expense-form #expense_category_id{
    margin-bottom: 5px;
  }

  #add-expense-form input[type=submit]{
    margin-right: 38%;

  }


  .form-field {
    display:block;
    width:100%;
    height:28px;
    font-size:14px;
    line-height:-5px;
    color:#555;
    background-color:#fff;
    margin-left: auto;
    margin-right: auto;
    background-image:none;border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}


  .page-header {
    color:#50C8C6;
    font-style: bold;
  }

  .location .form-field{
      width: 10%;
    }

  textarea {
    height: auto;
    padding-bottom: 10px;
  }

  .event-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .event-list > li {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0px 0px 10px;
    height: auto;
  }

  .event-list > li > time {
    display: inline-block;
    width: 100%;
    color: black;
    font-weight: 600;
    background-color: #50C8C6;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .event-list > li:nth-child(even) > time {
    background-color: #BADA5F;
  }

  .event-list > li > img {
    width: 100%;
  }
  .event-list > li > .info {
    padding-top: 5px;
    text-align: center;
    font-style: bold;
  }
  .event-list > li > .info > .title {
    font-size: 12pt;
    font-weight: 600;
    margin: 0px;
  }

  .event-list > li > .info > .loc {
    font-size: 10pt;
    font-weight: 700;
    margin: 10px;
  }

  .event-list > li > .info > .desc {
    font-size: 10pt;
    font-weight: 400;
    margin: 0px;
  }

   .event-list > li > .info > .delete {
    float: right;
    padding-top: 8px;
  }

  .event-list > li > .info > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  @media (min-width: 768px) {
    .event-list > li {
      position: relative;
      display: block;
      width: 100%;
      height: 120px;
      padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
      display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
      width: 100px;
      float: left;
    }
    .event-list > li > .info {
      background-color: rgb(245, 245, 245);
      overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
      width: 95px;
      font-size: 12px;
      height: 120px;
      padding: 10px;
      margin: 0px;
    }
    .event-list > li > .info {
      position: relative;
      height: 120px;
      text-align: left;
      padding-right: 20px;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
      padding: 0px 10px;
    }
    .event-list > li > .info > ul {
      position: absolute;
      left: 100px;
      bottom: 0px;
    }
}

