<sidebar>
	<h3>Your Trips</h3>
	<% @trips.each do |trip| %>
	    <article class="trip"><%= link_to trip.name, fetch_expenses_path(:trip_id => trip), :remote => true %></article>
	<% end %>
	<h3>Your WishLists</h3>
	<% @wishlists.each do |wishlist| %>
	    <article class="wishlist"><%= link_to wishlist.name, fetch_wishlist_items_path(:wishlist_id => wishlist), :remote => true %></article>
	<% end %>
</sidebar>